.bottomBox {
  display: flex;
  flex-direction: column;

  .bottomBox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    display: flex;
    gap: 10px;
    background-color: white;
    align-items: center;

    > h1 {
      font-family: "Plus Jakarta Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      color: #26282c;
      background-color: white;
    }

    .sortby {
      display: flex;
      gap: 10px;
      background-color: white;
      align-items: center;
      > p {
        background-color: white;
        font-family: "Plus Jakarta Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        color: #34caa5;
      }
    }
  }

  .topDealsLabels {
    display: flex;
    justify-content: space-between;
    background-color: white;

    &__names{
        display:flex;
        justify-self: start;
        width: 120px;
        background-color: white;
        > p {
            margin-top: 16px;
          font-family: "Plus Jakarta Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          color: #9ca4ab;
          background-color: white;
        }
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    
    .user{
        >img {
            width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
        }
    }
  }
}
