@import "../../styles/variables.scss";

.sidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-main;
    position: fixed;
}

.logo {
    padding: 20px 20px;
}

.nav-text.active {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 16px 8px 16px;
    list-style: none;
    height: 70px;

    &:hover{
        background-color: $hover;
        border: 15px;
    }
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 16px 8px 16px;
    list-style: none;
    height: 70px;
    width: 20;
    transition: all 0.5s;
    transform: translateX(-10px);

    &:hover{
        
        border-radius: 15px;
    }
}

.menuTitle.active {
    padding: 15px;
    font-weight:500;
    visibility: visible;

    &:hover{
        color: $main-color;
    }
}

.menuTitle {
    visibility: hidden;
    color: $soft-color;
}

.itemList{
    display: flex;
    
    >span {
        display: none;
    }
}

.itemList.active{
    display: flex;
    gap: 10px;
    background-color: transparent;
    
    >span {
        display:contents;
    }
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.sidebarNavContainer {
    height: 100vh;
    background-color: white;
}

.fill-none {
    fill: red;
}

.toggle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: white;
    align-items: center;
    border-radius: 50px;
    width: 46px;

    .toggleDiv1 {
        background-color: #34CAA5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;



        & svg {
            background-color: #34CAA5;
            fill: #34CAA5;
            border-radius: 50%;
            width: 18px;
            height: 18px;
        }
    }

    .toggleDiv2 {
        background-color: white;

        & svg {
            background-color: white;
            fill: white;
            width: 18px;
            height: 18px;
        }
    }

}