@import "../../styles/variables.scss";

.sidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid $border-main;
}

.logo {
    padding: 20px 20px;
}

.nav-text.active {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 50px;

    &:hover{
        background-color: $hover;
        border: 15px;
    }
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 70px;
    width: 20;
    // transition: all 0.5s;
    transform: translateX(-10px);

    &:hover{
        background-color: $hover;
        border-radius: 15px;
    }
}

.menuTitle.active {
    padding: 15px;
    font-weight:500;
    visibility: visible;
}

.menuTitle {
    visibility: hidden;
}

.itemList{
    display: flex;
    
    >span {
        display: none;
    }
}

.itemList.active{
    display: flex;
    gap: 10px;
    background-color: transparent;
    
    >span {
        display:contents;
    }
}

.sidebarNav {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-between;
}

.sidebarNavContainer {
    height: 100vh;
    background-color: white;
}