@import "./variables.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-bg;
}

a {
  text-decoration: none;
  color: inherit;
}

.main{
  font-family: "Inter", sans-serif;
  // background-color: $main-bg;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menuContainer {
  width: 80px;
  padding: 0px 20px 20px 20px;
  // border-right: 1px solid $border-main;
  
  float: left;
  transition: all 0.4s;
  
}

.menuContainer.active {
  width: 250px;
}

.navContainer {
  padding: 18px 20px;
  background-color: $main-bg;
  border-bottom: 1px solid $border-main;
  height: 70px;
  
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
