<<<<<<< HEAD
@import "./variables.scss";


=======
>>>>>>> f1754d4925e3e9cd00bb5f8168a5a218485a873d
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  background-color: $main-bg;
=======
>>>>>>> f1754d4925e3e9cd00bb5f8168a5a218485a873d
}

a {
  text-decoration: none;
  color: inherit;
<<<<<<< HEAD
}

.main{
  font-family: "Inter", sans-serif;
  // background-color: $main-bg;
  display: flex;
}
.menuMain {
  // position: fixed;
  // z-index: 1; /* Stay on top */
  // top: 0; /* Stay at the top */
  // left: 0;
  // width: 80px; /* Set the initial width */
  // transition: width 0.4s; /* Apply transition only to width */
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
//   margin-left: 80px; /* Set the margin to accommodate the fixed sidebar */
// transition: margin-left 0.4s; /* Apply transition only to margin-left */  
}

.menuContainer {
  width: 80px;
  padding: 0px 20px 20px 20px;
  // border-right: 1px solid $border-main;
  
  float: left;
  transition: all 0.4s;
  
}

.menuContainer.active {
  width: 250px;
}

.navContainer {
  padding: 18px 20px;
  background-color: $main-bg;
  border-bottom: 1px solid $border-main;
  height: 70px;
  
}

.contentContainer {
  padding: 5px 20px;
  width: 100%;
}
=======
}
>>>>>>> f1754d4925e3e9cd00bb5f8168a5a218485a873d
