

.home {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(180px, auto);
    margin-left: 80px; /* Set the margin to accommodate the fixed sidebar */
transition: margin-left 0.4s; /* Apply transition only to margin-left */

    .box {
        padding: 20px;
        border-radius: 14px;
        border: 1px solid #EDF2F7;
        background-color: white;
    }

    .box1{
        grid-column: span 4;
        grid-row: span 2;
    }

    .box6{
        grid-column: span 4;
        grid-row: span 2;
    }

    .box7{
        grid-column: span 2;
        grid-row: span 3;
    }
}